/* * {
    outline: 1px dotted red;
} */

.header-h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 51, 128);

}

.h2-title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 51, 128);
}

.first-letter {
    font-size: 24px;
    text-indent: 70px;
    font-weight: bold;
    color: rgb(0, 51, 128);
}

.footer {
    text-transform: capitalize;
}

