<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-allGames">
    <div class="container">
        <h2>All Games</h2>
        <p><%= name %></p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>