<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2>Game Genre</h2>
        <p></p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>