<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2>PS Games</h2>
        <p>This is a Games API made with out a database using an online API to supply the data. API credit:</p><a href="https://sampleapis."></a>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>