<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2 class="h2-title">PlayStation Games API</h2>
        <p>This is a Games API made with out a database using an SAMPLE API to supply the data.</p>

        <img src="https://images.gamewatcherstatic.com/image/file/7/36/121347/playstation.jpg" class="" width="1120" alt="xbox">
        <hr>
        <p><span class="first-letter">Playstation</span> is a brand of video game consoles and games created by Sony Computer Entertainment. The first PlayStation console was released in 1994 and has since been followed by several other models, including the PlayStation 2, PlayStation 3, PlayStation 4, and PlayStation 5.

            PlayStation consoles are designed to play video games and multimedia content, including movies and music. They can be connected to a TV or monitor and come with controllers for gameplay. PlayStation consoles are also equipped with online features, allowing players to connect with each other and play games over the internet.
            
            In addition to hardware, the PlayStation brand also encompasses an online gaming service called PlayStation Network, which allows players to connect, play games together, and access exclusive content. PlayStation Plus is another popular subscription service offered by Sony that provides access to online multiplayer, free monthly games, and other benefits for a monthly or yearly fee.</p>
    
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>