<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2>PlayStation Games API</h2>
        <p>This is a Games API made with out a database using an SAMPLE API to supply the data.</p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>